<a href="https://colab.research.google.com/github/OptimalDecisions/sports-analytics-foundations/blob/main/sa-examples/SA_4_4_Reading_Files_with_2_Header_Rows.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

  ## Pandas Full Example of Data Preparation


  # Reading Files with 2 Header Rows

  <img src = "../img/sa_logo.png" width="100" align="left">

  Ram Narasimhan

  <br><br><br>

## NFL Coach Standings

Concepts covered in this notebook.

1. Validate the data

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
curr_season = '2000'

url = f'https://raw.githubusercontent.com/keshavmp/Sports_Analytics_Project/main/{curr_season}_Coach_Standings.csv'
df = pd.read_csv(url)

In [ ]:
df.head(2)

,Unnamed: 0,Unnamed: 1,2000 Season,Unnamed: 3,Unnamed: 4,Unnamed: 5,w/ Team,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Playoffs,Unnamed: 15,Unnamed: 16,w/ Team.1,Unnamed: 18,Unnamed: 19,Career.1,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Coach,Tm,G,W,L,T,G,W,L,T,...,G plyf,W plyf,L plyf,G plyf,W plyf,L plyf,G plyf,W plyf,L plyf,Remark
1,Vince Tobin,ARI,7,2,5,0,71,28,43,0,...,0,0,0,2,1,1,2,1,1,Fired after week 8

In [ ]:

df.columns = df.columns.str.replace('w/ ','with_')
df.columns = df.columns.str.replace('Team','Team_')
df.columns = df.columns.str.replace('.','-')
df.columns = df.columns.str.replace(' ','_')

<ipython-input-188-43b5d0c172d7>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('.','-')

In [ ]:
column_categories = df.columns

In [ ]:
df = pd.read_csv(url, header=1)

In [ ]:
df.head(1)

,Coach,Tm,G,W,L,T,G.1,W.1,L.1,T.1,...,G plyf,W plyf,L plyf,G plyf.1,W plyf.1,L plyf.1,G plyf.2,W plyf.2,L plyf.2,Remark
0,Vince Tobin,ARI,7,2,5,0,71,28,43,0,...,0,0,0,2,1,1,2,1,1,Fired after week 8

In [ ]:
df.rename(columns={'Tm':'Team'}, inplace=True)

The following is a key step:

1. We have Broad Categories in a variable called `column_categories` (The first row of the csv file)
2. We have actual columns names in our df.columns now. (Second row of the csv file)
3. In the follow step, we are trying to prepend the Column Categories to each relevant column name.

The result is not clean, but it is getting us close to where we want to be.

In [ ]:
current_cat = ""
new_column_names = []
for idx, cat in enumerate(column_categories):
  if "Unnamed" not in cat: #we have found a new category
    print(idx, cat)
    current_cat = cat + "_"
  if "Season" in cat:
    current_cat = 'Season_' # we don't want the Year. We will make a separate column for it.
  new_column_names.append(current_cat + df.columns[idx])

2 2000_Season
6 with_Team_
10 Career
14 Playoffs
17 with_Team_-1
20 Career-1

Let's print out the result and examine the new names.

In [ ]:
new_column_names

['Coach',
 'Team',
 'Season_G',
 'Season_W',
 'Season_L',
 'Season_T',
 'with_Team__G.1',
 'with_Team__W.1',
 'with_Team__L.1',
 'with_Team__T.1',
 'Career_G.2',
 'Career_W.2',
 'Career_L.2',
 'Career_T.2',
 'Playoffs_G plyf',
 'Playoffs_W plyf',
 'Playoffs_L plyf',
 'with_Team_-1_G plyf.1',
 'with_Team_-1_W plyf.1',
 'with_Team_-1_L plyf.1',
 'Career-1_G plyf.2',
 'Career-1_W plyf.2',
 'Career-1_L plyf.2',
 'Career-1_Remark']

Handle `.`, `_` and spaces

In [ ]:
df.columns = new_column_names
df.columns = df.columns.str.replace('.','-', regex=False)
df.columns = df.columns.str.replace(' ','_', regex=False)

In [ ]:
df.columns

Index(['Coach', 'Team', 'Season_G', 'Season_W', 'Season_L', 'Season_T',
       'with_Team__G-1', 'with_Team__W-1', 'with_Team__L-1', 'with_Team__T-1',
       'Career_G-2', 'Career_W-2', 'Career_L-2', 'Career_T-2',
       'Playoffs_G_plyf', 'Playoffs_W_plyf', 'Playoffs_L_plyf',
       'with_Team_-1_G_plyf-1', 'with_Team_-1_W_plyf-1',
       'with_Team_-1_L_plyf-1', 'Career-1_G_plyf-2', 'Career-1_W_plyf-2',
       'Career-1_L_plyf-2', 'Career-1_Remark'],
      dtype='object')

Notice that the "Remark" column has now gotten a category. We don't want that. We can just rename it to simply read "Remark"

In [ ]:
remark_columns = df.filter(like='Remark')

if not remark_columns.empty:
    # Get the first matching column and rename it
    column_to_rename = remark_columns.columns[0]
    df.rename(columns={column_to_rename: 'Remark'}, inplace=True)

The \_plyf is a bit clumsy. Let's be explicit and rename all those columns to be Playoff_`.

In [ ]:
for column in df.columns:
    if '_plyf' in column:
      new_column = 'Playoff_' + column
      df.rename(columns={column: new_column}, inplace=True)

df.columns = df.columns.str.replace("_plyf", "") #drop the _plyf
df.columns = df.columns.str.replace("Playoff_Playoffs", "Playoff_") # take care of dupes
df.columns = df.columns.str.replace("__", "_") #clean up all dunders to single underscore

In [ ]:
df.columns

Index(['Coach', 'Team', 'Season_G', 'Season_W', 'Season_L', 'Season_T',
       'with_Team_G-1', 'with_Team_W-1', 'with_Team_L-1', 'with_Team_T-1',
       'Career_G-2', 'Career_W-2', 'Career_L-2', 'Career_T-2', 'Playoff_G',
       'Playoff_W', 'Playoff_L', 'Playoff_with_Team_-1_G-1',
       'Playoff_with_Team_-1_W-1', 'Playoff_with_Team_-1_L-1',
       'Playoff_Career-1_G-2', 'Playoff_Career-1_W-2', 'Playoff_Career-1_L-2',
       'Remark'],
      dtype='object')

### New Column showing Current Season

Rule of thumb: Our code should work for any season we read, from 2000 to 2022.

Thus we should not have any column name that contains the text "_2000" etc. If we have _2000 in one df and _2001 in another df, we cannot merge those easily.

Trick: We know which season we are working with. It is in a variable we called `curr_season` at the very beginning. So let's create a new column and store the current season in it.

In [ ]:
df['Season'] = curr_season

### Reorder Columns

Final clean up step: It would be good to keep the Season right after the Coach's name and team.

Here's how we'd move the last column to be the third column. We perform some careful "Column name surgery" here. We cut at the 3rd element, graft the last element into the 3rd slot, and drop the last one.

In [ ]:
cols = df.columns.tolist()
new_order = cols[:2] + [cols[-1]] + cols[2:-1]
df = df[new_order]
df

,Coach,Team,Season,Season_G,Season_W,Season_L,Season_T,with_Team_G-1,with_Team_W-1,with_Team_L-1,...,Playoff_G,Playoff_W,Playoff_L,Playoff_with_Team_-1_G-1,Playoff_with_Team_-1_W-1,Playoff_with_Team_-1_L-1,Playoff_Career-1_G-2,Playoff_Career-1_W-2,Playoff_Career-1_L-2,Remark
0,Vince Tobin,ARI,2000,7,2,5,0,71,28,43,...,0,0,0,2,1,1,2,1,1,Fired after week 8
1,Dave McGinnis,ARI,2000,9,1,8,0,57,17,40,...,0,0,0,0,0,0,0,0,0,Coach starting week 9
2,Dan Reeves,ATL,2000,16,4,12,0,109,49,59,...,0,0,0,5,3,2,20,11,9,NaN
3,Brian Billick,BAL,2000,16,12,4,0,144,80,64,...,4,4,0,8,5,3,8,5,3,Super Bowl Champions
4,Wade Phillips,BUF,2000,16,8,8,0,48,29,19,...,0,0,0,2,0,2,6,1,5,NaN
5,George Seifert,CAR,2000,16,7,9,0,48,16,32,...,0,0,0,0,0,0,15,10,5,NaN
6,Dick Jauron,CHI,2000,16,5,11,0,80,35,45,...,0,0,0,1,0,1,1,0,1,NaN
7,Bruce Coslet,CIN,2000,3,0,3,0,60,21,39,...,0,0,0,0,0,0,1,0,1,Fired after week 4
8,Dick LeBeau,CIN,2000,13,4,9,0,45,12,33,...,0,0,0,0,0,0,0,0,0,Coach starting week 5
9,Chris Palmer,CLE,2000,16,3,13,0,32,5,27,...,0,0,0,0,0,0,0,0,0,NaN
10,Dave Campo,DAL,2000,16,5,11,0,48,15,33,...,0,0,0,0,0,0,0,0,0,NaN
11,Mike Shanahan,DEN,2000,16,11,5,0,224,138,86,...,1,0,1,13,8,5,14,8,6,NaN
12,Gary Moeller,DET,2000,7,4,3,0,7,4,3,...,0,0,0,0,0,0,0,0,0,Coach starting week 11
13,Bobby Ross,DET,2000,9,5,4,0,57,27,30,...,0,0,0,2,0,2,8,3,5,Resigned after week 10
14,Mike Sherman,GNB,2000,16,9,7,0,96,57,39,...,0,0,0,6,2,4,6,2,4,NaN
15,Jim Mora,IND,2000,16,10,6,0,64,32,32,...,1,0,1,2,0,2,6,0,6,NaN
16,Tom Coughlin,JAX,2000,16,7,9,0,128,68,60,...,0,0,0,8,4,4,19,12,7,NaN
17,Gunther Cunningham,KAN,2000,16,7,9,0,32,16,16,...,0,0,0,0,0,0,0,0,0,NaN
18,Dave Wannstedt,MIA,2000,16,11,5,0,73,42,31,...,2,1,1,3,1,2,5,2,3,NaN
19,Dennis Green,MIN,2000,16,11,5,0,159,97,62,...,2,1,1,12,4,8,12,4,8,NaN
20,Jim Haslett,NOR,2000,16,10,6,0,96,45,51,...,2,1,1,2,1,1,2,1,1,NaN
21,Bill Belichick,NWE,2000,16,5,11,0,386,266,120,...,0,0,0,42,30,12,44,31,13,NaN
22,Jim Fassel,NYG,2000,16,12,4,0,112,58,53,...,3,2,1,5,2,3,5,2,3,NFC Champions
23,Al Groh,NYJ,2000,16,9,7,0,16,9,7,...,0,0,0,0,0,0,0,0,0,NaN
24,Jon Gruden,OAK,2000,16,12,4,0,117,60,57,...,2,1,1,5,2,3,10,5,5,NaN
25,Andy Reid,PHI,2000,16,11,5,0,224,130,93,...,2,1,1,19,10,9,38,22,16,NaN
26,Bill Cowher,PIT,2000,16,9,7,0,240,149,90,...,0,0,0,21,12,9,21,12,9,NaN
27,Mike Riley,SDG,2000,16,1,15,0,48,14,34,...,0,0,0,0,0,0,0,0,0,NaN
28,Mike Holmgren,SEA,2000,16,6,10,0,160,86,74,...,0,0,0,10,4,6,24,13,11,NaN
29,Steve Mariucci,SFO,2000,16,6,10,0,96,57,39,...,0,0,0,7,3,4,7,3,4,NaN
30,Mike Martz,STL,2000,16,10,6,0,85,53,32,...,1,0,1,7,3,4,7,3,4,NaN
31,Tony Dungy,TAM,2000,16,10,6,0,96,54,42,...,1,0,1,6,2,4,19,9,10,NaN
32,Jeff Fisher,TEN,2000,16,13,3,0,262,142,120,...,1,0,1,11,5,6,11,5,6,NaN
33,Terry Robiskie,WAS,2000,3,1,2,0,3,1,2,...,0,0,0,0,0,0,0,0,0,Coach starting week 15
34,Norv Turner,WAS,2000,13,7,6,0,109,49,59,...,0,0,0,2,1,1,8,4,4,Fired after week 14

In the next notebook [4.5 Handling Multiple dfs](SA_4_5_Concatenating_Multiple_Dataframes.ipynb) we will read all the files in one shot and concat them into one very long dataframe.