<a href="https://colab.research.google.com/github/OptimalDecisions/sports-analytics-foundations/blob/main/pandas-basics/Pandas_Exercise_2_1_Exer_Series_and_DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


### 2.1 Pandas Exercises

## Pandas Exercises: Series and Dataframes

  <img src = "../img/sa_logo.png" width="100" align="left">

  Ram Narasimhan

  <br><br><br>

In this notebook, the exercises will test your ability to create Series, and Dataframe objects, and to access elements.

In [ ]:
import pandas as pd

### Exercise 1: Create a Series

Create a Pandas Series named
`tens` with the following data: `10`, `20`, `30`, `40`, `50`. Assign custom indices of your choice to each element.

### Exercise 2: Create a DataFrame

Create a DataFrame named `students` with the following data:

```
   Name  Age  Grade
0  John   15     A
1  Mary   12     B
2  Bob    14     C
```

Hint: Use `pd.Dataframe` and specify the data as a `dictionary` with the keys being `Name`, `Age` and `Grade`

### Exercise 3: Accessing Elements

From the series `tens` above, print the element with index 3 and 4.

### Exercise 4: Accessing Rows and Columns of a Dataframe

From the `students` dataframe, print the `Name` and the `Grade` columns.

### Exercise 5: Access based on `loc`

In the `students` dataframe, print out just the row whose index is 2.