<a href="https://colab.research.google.com/github/OptimalDecisions/sports-analytics-foundations/blob/main/pandas-basics/Pandas_Exercise_2_4_Exer_Column_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas Exercises 2.4

# Column Operations

  <img src = "../img/sa_logo.png" width="100" align="left">

  Ram Narasimhan

  <br><br><br>

In [6]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
%matplotlib inline

In [2]:
# Read in the Play by Play file for an entire NBA Season
df = pd.read_csv('https://sports-statistics.com/database/basketball-data/nba/2019-20_pbp.csv')

In [3]:
df.columns, df.shape

(Index(['URL', 'GameType', 'Location', 'Date', 'Time', 'WinningTeam', 'Quarter',
        'SecLeft', 'AwayTeam', 'AwayPlay', 'AwayScore', 'HomeTeam', 'HomePlay',
        'HomeScore', 'Shooter', 'ShotType', 'ShotOutcome', 'ShotDist',
        'Assister', 'Blocker', 'FoulType', 'Fouler', 'Fouled', 'Rebounder',
        'ReboundType', 'ViolationPlayer', 'ViolationType', 'TimeoutTeam',
        'FreeThrowShooter', 'FreeThrowOutcome', 'FreeThrowNum', 'EnterGame',
        'LeaveGame', 'TurnoverPlayer', 'TurnoverType', 'TurnoverCause',
        'TurnoverCauser', 'JumpballAwayPlayer', 'JumpballHomePlayer',
        'JumpballPoss', 'Unnamed: 40'],
       dtype='object'),
 (539265, 41))

In [4]:
df[[c for c in df.columns if 'Player' in c]]

,ViolationPlayer,TurnoverPlayer,JumpballAwayPlayer,JumpballHomePlayer
0,NaN,NaN,D. Favors - favorde01,M. Gasol - gasolma01
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN
...,...,...,...,...
539260,NaN,NaN,NaN,NaN
539261,NaN,NaN,NaN,NaN
539262,NaN,NaN,NaN,NaN
539263,NaN,NaN,NaN,NaN
539264,NaN,NaN,NaN,NaN

## Selecting A Few Columns

### Exercise 241: There are 4 columns which contain the word "Player" in them. Write the pandas command to print the `df` with just these 4 columns.



### Exercise 242: Create a New Column which shows the Total of the Away and the Home team scores.
In other words, for each play, show the total of the points scored by both teams.

##	Creating New Columns


### Exercise 243: Convert `SecLeft` to `MinutesRemaining`

We want to know the minutes remaining in each Quarter. Convert the seconds left to minutes remaining, and use Integer number of minutes.

For ex. if there 100 minutes left, show 2 minutes remaining.
Hint: Look up `math.round()` to round the number of seconds to minutes

Store 'MinutesRemaining' as a new column

### Exercise 244: Drop some columns

Drop the following columns from the dataframe, permanently.

'TimeoutTeam',
'FreeThrowShooter', 'FreeThrowOutcome',
'FreeThrowNum',
'EnterGame',
'LeaveGame',
        'JumpballAwayPlayer', 'JumpballHomePlayer',
        'JumpballPoss', 'Unnamed: 40'

## Rename Columns


### Exercise 245: Rename Columns to be easier to read

Please make the following changes to the dataframe column Names.

```
OldName --> New Name

Any column that has FreeThrow to be replaced with FT

ex. FreeThrowNum --> FTNum etc.

Also, change Tm --> Team
```

### Exercise 6: Split the "Results" column to Create 2 New columns

In the following df, split the goals to get goals for the Home and the Away Teams. You should have two additional Columns: "Home Team Goals" and "Away Team Goals".
(Ex 3-2 becomes Home Team Goals 3 and  in the Away Team Goals 2 Column)

In [10]:
# Read the FIFA 2022 CSV files.
url = "https://raw.githubusercontent.com/OptimalDecisions/sports-analytics-foundations/main/data/fifa-world-cup-2022.csv"
df = pd.read_csv(url)

In [14]:
#Your code to spilt the Results column here